version: '2'
services:
  firefox:
    restart: always
    image: selenium/node-firefox-debug:3.14.0-gallium
    ports:    
      - 5900
    depends_on:
      - hub
    links:
      - hub:hub
    environment:
      - HUB_PORT_4444_TCP_ADDR=hub
      - HUB_PORT_4444_TCP_PORT=4444
      - GRID_NEW_SESSION_WAIT_TIMEOUT=10000
      - GRID_BROWSER_TIMEOUT=60
      - GRID_TIMEOUT=60 
  chrome:
    restart: always
    image: selenium/node-chrome-debug:3.14.0-gallium
    ports:    
      - 5900
    depends_on:
      - hub
    links:
      - hub:hub
    environment:
      - HUB_PORT_4444_TCP_ADDR=hub
      - HUB_PORT_4444_TCP_PORT=4444
      - GRID_NEW_SESSION_WAIT_TIMEOUT=10000
      - GRID_BROWSER_TIMEOUT=60
      - GRID_TIMEOUT=60
  hub:
    restart: always
    image: selenium/hub:3.14.0-gallium
    ports:
      - "4444:4444"
    environment:
      - GRID_NEW_SESSION_WAIT_TIMEOUT=10000
      - GRID_BROWSER_TIMEOUT=60
      - GRID_TIMEOUT=60
